<section class="container banner col-sm-12 col-md-4">
  <article class="description">
    <p>list.plus is a free service that lets you compile shopping lists and anyone can purchase them from Amazon.com&trade; in just one step.</p>
  </article>
</section>

<section class="container lists clearfix col-sm-12">
  <article class="list col-sm-12 col-md-3">
    <div><h2>{{list[0].name}}</h2></div>
    <ul>
      <li ng-repeat="item in list.items">
        <a target="_blank" ng-href="http://www.amazon.com/gp/product/{{item.isbn}}/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN={{item.isbn}}&linkCode=as2&tag=blindworm03-20">
          {{item.title}} <span ng-if="item.author != null"><strong>by: {{item.author}}</strong></span>
        </a>
      </li>
    </ul>
    <div><p><strong><a target="_blank" ng-href="http://list.plus/api/bouncy/{{list.list_owner}}/{{list.id}}">click here to buy above list all at once</a></strong></p></div>
    <div class="sharing-list ssk-group ssk-xs ssk-count ssk-grayscale" data-url="http://list.plus/app/#/shared/{{list[0].list_owner}}/{{list[0].id}}" data-text="{{list[0].name}}">
      <a href="" class="ssk ssk-facebook"></a>
      <a href="" class="ssk ssk-twitter"></a>
      <a href="" class="ssk ssk-google-plus"></a>
      <a href="" class="ssk ssk-pinterest"></a>
      <a href="" class="ssk ssk-linkedin"></a>
    </div>
  </article>
</section>