<section class="banner col-md-4 col-md-offset-8">
  <article class="description">
    <p>list.plus is a free service that lets you compile shopping lists and anyone can purchase them from Amazon.com&trade; in just one step.</p>
  </article>
</section>
<hr/>
<section class="lists clearfix">
  <article class="list col-sm-12 col-md-3">
    <div><h2>{{list.name}}</h2></div>
    <ul>
      <li ng-repeat="item in list.items">{{item.title}}</li>
    </ul>
    <div><p><a target="_blank" ng-href="http://list.plus/api/bouncy/{{list.list_owner}}/{{list.id}}">click here to buy list</a></p></div>
  </article>
</section>